/*  Sidebar Project Info Section  */

.project-detail {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 16px;
    padding-top: 16px;
}

.project-name {
    font-size: 16px;
    font-weight: 600;
}

.project-type {
    font-size: 12px;
    color: var(--muted-text-color);
}

/*  Sidebar Tool List Section  */

.tool-section {
    font-size: 12px;
    font-weight: 600;
    color: var(--muted-text-color);
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.tool-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 6px;
}

.tool-item:hover {
    background-color: var(--selected-bg);
    padding: 8px 16px;
}

.tool-icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-item-selected {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: var(--selected-bg);
    color: var(--blue-text);
    border-radius: 6px;
    font-weight: 600;
}

/*  Board Dropdown Section  */

.board-dropdown {
    display: flex;
    flex-direction: column;
    padding: 0 6px;
    border-radius: 6px;
    background-color: var(--dropdown-bg);
    margin-bottom: 5px;
}

.board-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.board-info {
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 10px;
    cursor: pointer;
}

.board-detail {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: var(--blue-text);
}

.arrow-icon-board {
    width: 14px;
    height: 14px;
}

.board-info div {
    color: var(--blue-text);
}

/*  Sidebar Footer Section  */

.disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    color: var(--muted-text-color);
    margin-top: 20px;
    gap: 5px;
    text-align: center;
}

.other-tools {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin: 10px 0;
    padding: 10px 0;
}

.beta-badge {
    background-color: var(--beta-bg);
    color: var(--beta-text);
    font-size: 10px;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 3px;
    margin-left: 5px;
}