:root {
  --primary-color: #0079bf;
  --secondary-color: #ebecf0;
  --text-color: #172b4d;
  --background-color: #f4f5f7;
  --border-color: #ccc;
  --blue-text: #0a65a4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #172b4d;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

/*  Main Page Layout  */

.container {
  display: flex;
  flex: 1;
  min-height: 0;
}

.aside {
  width: 250px;
  overflow-y: auto;
  padding: 5px;
  border-right: 1px solid var(--border-color); 
}

main {
  flex: 1;
  overflow-y: auto;
}