:root {
  --border-color: #ccc;
  --blue-text: #0a65a4;
  --body-text-color: #172b4d;
  --link-color: #000000;

  --button-primary-bg: #007bff;
  --button-text-color: #ffffff;

  --muted-text-color: #555;

  --selected-bg: #B6D1F7;
  --dropdown-bg: #e7f0fd;

  --beta-bg: #f0d8f0;
  --beta-text: #520dc2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--body-text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid var(--border-color);
}

/*  Main Page Layout  */

.container {
  display: flex;
  flex: 1;
  min-height: 0;
}

.aside {
  width: 250px;
  overflow-y: auto;
  padding: 5px;
  border-right: 1px solid var(--border-color);
}

main {
  flex: 1;
  overflow-y: auto;
}